{
    "presets": ["@babel/preset-env", "@babel/preset-react", "mobx"],
    "plugins": [
        ["antd",  { "style": "css" }],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime"
    ]
}